#game {
    /* margin: 1%; */
    padding: auto;
    display: flex;
    flex-direction: column;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-image: url('../images/sunny1.jpg'); */
    
}

.left, .middle, .right, .tools {
    display: flex;
    flex-direction: column;
    font-size: .9em;
    font-weight: bold;
    padding: 1%;
}

.img-size {
    justify-content: flex-end;
    width: 25px;
    height: 25px;
  }
  .game p {
      color: white;
  }